DB_HOST=postgres
DB_PORT=5432
DB_NAME=ai_cook
DB_USERNAME=example
DB_PASSWORD=examplePassword
LLM_SERVICE_URL=http://host.docker.internal:8000

# note: user and passwort also have to be set in the docker-compose.yml file